<a href="https://colab.research.google.com/github/siddharthpangotra/colabWorks/blob/master/PyColaBasix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print("HI Sid")

HI Sid

In [0]:
print("go"+ " ahead")
print("17"+" Feb")

go ahead
17 Feb

In [0]:
print(True and False) # and two operands

False

In [0]:
# Variables

# Variables and Inputs

In [0]:
school = "BITS"
another_school = "BITS"
#print(type(school))
print(id(another_school))
print("I am studying at "+another_school)

140481737043168
I am studying at BITS

In [9]:
fees_for_Sem_one = input("what is the fees for sem1 ")
fees_for_Sem_two = input("what is the fees for sem2 ")
fees_for_Sem_three = input("what is the fees for sem3 ")
fees_for_Sem_four = input("what is the fees for sem4 ")
total_fees = int(fees_for_Sem_one) + int(fees_for_Sem_two) + int(fees_for_Sem_three) + int(fees_for_Sem_four)
print(total_fees)

what is the fees for sem1 10
what is the fees for sem2 20
what is the fees for sem3 30
what is the fees for sem4 40
100

In [13]:
new_Fees= float(total_fees)+ 0.2*float(total_fees)
print("Total fees for the entire course is: "+ str(new_Fees))

Total fees for the entire course is: 120.0